#screening-form {
    display: inline-block;
    max-width: 510px;
    margin-top: 30px;
}

#screening-form>div {
    width: 100%;
    text-align: left;
    position: relative;
}

#screening-form p {
    font-weight: bold;
}

#screening-form .post-conviction {
    margin-left: 25px;
}

.post-conviction span {
    display: block;
    margin: 3px 0 15px;
}

.post-conviction.last {
    padding-bottom: 20px;
}

#screening-form li>p {
    font-weight: 300;
}

.indigent-input+div {
    margin-left: 42px;
}

.screening-input {
    display: inline-block;
}

.currency-label {
    margin-right: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    font-weight: lighter;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    bottom: 125%;
    left: -50%;
    margin-left: -60px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.mentalCondition-wrap {
    position: relative;
}

.mentalCondition-wrap>p {
    margin-left: 42px;
}

.mentalCondition-input,
.indigent-input {
    position: absolute !important;
    width: auto !important;
    top: 0;
    left: 0;
}

.indigent-list {
    margin-bottom: 50px;
}

.indigent-list>li {
    line-height: 25px;
}

@media only screen and (max-width: 820px) {
    #screening-page {
        max-width: 510px;
        margin: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 479px) {
    .tooltip .tooltiptext {
        left: 25%;
    }
}

// WEBPACK FOOTER //
// ./src/components/ScreeningPage/ScreeningPage.css